.DS_Store
pi_bundle/.DS_Store
pi_bundle/.env
pi_bundle/credentials.json
pi_bundle/token.json
pi_bundle/pi_portfolio_*
pi_bundle/*.zip
pi_bundle/*.tar.gz

pi_bundle.tar.gz
pi_bundle.zip
db_dumps/
Export DB/.ipynb_checkpoints/
ignore
