<html>
    <body>
        <p>Hi {{.Name}},</p>

        <p>I wanted to follow up on my previous email regarding {{.Role}} opportunity at {{.Company}}. I understand you are likely busy, so I will keep this brief.</p>

        <p>I am currently wrapping up my Data Science master's at the University of Maryland and have 3.5 years of hands-on ML experience, including ML production systems at Nokia and Suzuki. I believe my background in building end-to-end ML pipelines could be a strong fit for your team.</p>

        <p>Would you have 15 minutes for a quick chat this week or next? I am happy to work around your schedule.</p>

        <p>
        Asutosh Dalei<br>
        +1 240 432 1563<br>
        linkedin.com/in/asutosh-dalei2212
        </p>
    </body>
</html>
