<html>
   <body>
      <p>Hi {{.Name}},</p>
      <p>I have been following {{.Company}} closely and it is on my list of places I want to work.</p>
      <p>Quick background:</p>
      <ul>
         <li>I just finished my Master's in Data Science at the University of Maryland (3.97 GPA).</li>
         <li>During this time, I interned at Nokia building enterprise scale multimodal RAG pipelines and agentic AI workflows for a year.</li>
         <li>Before that, I worked at Suzuki Motors for 2.5 years, shipping ML models running on 100K+ vehicles.</li>
      </ul>
      <p>I have attached my resume. Would you have 15 minutes to chat sometime?</p>
      <p>
         Asutosh Dalei<br>
         +1 240 432 1563<br>
         <a href="https://www.linkedin.com/in/asutosh-dalei2212">
         linkedin.com/in/asutosh-dalei2212
         </a>
      </p>
   </body>
</html>
