<html>
    <body>
        <p>Hi {{.Name}},</p>

        <p>I hope you're doing well. I'm Asutosh, and I'm really interested in the work being done at {{.Company}}. I recently came across your profile and wanted to reach out to express my interest in exploring any opportunities that align with my background in machine learning and data science.</p>

        <p>I am currently wrapping up my Data Science Master's at the University of Maryland and have 3.5 years of hands-on ML experience, including ML production systems at Nokia and Suzuki. I believe my background in building end-to-end ML pipelines could be a strong fit for your team.</p>

        <p>I've attached my resume for your reference. I'd love to connect or learn about any open roles that might be a fit.</p>

        <p>Thank you for your time!</p>

        <p>
        Best,<br>
        Asutosh Dalei<br>
        +1 240 432 1563<br>
        linkedin.com/in/asutosh-dalei2212
        </p>
    </body>
</html>
