<html>
    <body>
        <p>Hi {{.Name}},</p>

        <p>I hope this finds you well. I am reaching out because I am very interested in {{.Role}} role at {{.Company}}, and I would love to get your perspective on the team and culture there.</p>

        <p>I am a Data Science grad student at the University of Maryland with 3.5 years of production ML experience. Most recently, I have been working on multimodal RAG systems at Nokia and previously built battery health prediction models deployed across more than 100K vehicles at Suzuki.</p>

        <p>If you are open to it, I would really appreciate any advice on the best way to apply or an internal referral. I have attached my resume for your reference.</p>

        <p>Thank you so much for your time.</p>

        <p>
        Asutosh Dalei<br>
        +1 240 432 1563<br>
        linkedin.com/in/asutosh-dalei2212
        </p>
    </body>
</html>
