<html>
   <body>
      <p>Hi {{.Name}},</p>
      <p>I have been following {{.Company}} closely and am interested in the working there, so I wanted to reach out directly.</p>
      <p>A bit of context on my background:</p>
      <ul>
         <li>I spent 2.5 years at Suzuki Motors building a production LSTM model for battery failure prediction, deployed across 100K+ connected vehicles with a filed patent.</li>
         <li>I worked for an year at Nokia, Sunnyvale, building enterprise scale multimodal RAG pipelines and agentic AI workflows over large-scale technical knowledge bases.</li>
         <li>I finished my Master's in Data Science at the University of Maryland in May 2026 with a 3.97 GPA.</li>
      </ul>
      <p>I have added my resume to this email at the bottom. If you're open to it, would you have 15 minutes to chat sometime?</p>
      <p>
         Asutosh Dalei<br>
         +1 240 432 1563<br>
         <a href="https://asutoshdalei.github.io/AsutoshDalei/ASUTOSH_DALEI_RESUME.pdf">
         Resume
         </a> <br>
         <a href="https://www.linkedin.com/in/asutosh-dalei2212">
         Linkedin.com/asutosh-dalei
         </a>
      </p>
   </body>
</html>
