<html>
    <body>
        <p>Hi {{.Name}},</p>

        <p>I came across the {{.Role}} opening at {{.Company}} and thought of reaching out. I admire the work your company does and believe my background makes me a good fit.</p>

        <p>Over the past 3.5 years, I have been building ML systems in industry, including a patented automobile health predictive model at Suzuki and multimodal RAG pipelines at Nokia</p>

        <p>If you're comfortable, would you consider referring me for the role?</p>

        <p>I've attached my resume and would be happy to provide more details. Thanks so much in advance!</p>

        <p>
        Best,<br>
        Asutosh Dalei<br>
        +1 240 432 1563<br>
        linkedin.com/in/asutosh-dalei2212
        </p>
    </body>
</html>
